{% extends 'base.html.twig' %}

{% block title %}{{ "Edit" | trans }} {{ "ProductAttribute" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit" | trans }} {{ "ProductAttribute" | trans }}</h1>

    {{ include('product_attribute/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_attribute_index') }}" class="btn btn-primary">{{ "back to list" | trans }}</a>

    {{ include('product_attribute/_delete_form.html.twig') }}
{% endblock %}
