{% extends 'base.html.twig' %}

{% block title %}{{ "ProductAttribute" | trans }} {{ "index" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "ProductAttribute" | trans }} {{ "index" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "Name" | trans }}</th>
                <th>{{ "Value" | trans }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_attribute in product_attributes %}
            <tr>
                <td>{{ product_attribute.id }}</td>
                <td>{{ product_attribute.name }}</td>
                <td>{{ product_attribute.value }}</td>
                <td>
                    <a href="{{ path('product_attribute_show', {'id': product_attribute.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('product_attribute_edit', {'id': product_attribute.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ "no records found" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_attribute_new') }}" class="btn btn-primary">{{ "Create new" | trans }}</a>
{% endblock %}
