{% extends 'base.html.twig' %}

{% block title %}{{ "Page" | trans }} {{"index" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Page" | trans }} {{"index" | trans }}</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "Name" | trans }}</th>
                <th>{{ "Keywords" | trans }}</th>
                <th>{{ "Url" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.name }}</td>
                <td>{{ page.keywords }}</td>
                <td>{{ page.url }}</td>
              
            </tr>
            <tr>
            	<td>
                    <a href="{{ path('page_show', {'id': page.id}) }}" class="btn btn-primary mr-1">{{ "show" | trans }}</a>
                </td>
                <td>
                    <a href="{{ path('page_edit', {'id': page.id}) }}" class="btn btn-primary">{{ "edit" | trans }}</a>
                </td>
                <td colspan="5">&nbsp;</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ "no records found" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('page_new') }}" class="btn btn-primary">{{ "Create new" | trans }}</a>
{% endblock %}
