{% extends 'base.html.twig' %}

{% block title %}{{"New" | trans }} {{ "Page" | trans }} {% endblock %}

{% block body %}
    <h1>{{ "Create new" | trans }} {{ "Page" | trans }}</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">{{ "back to list" | trans }}</a>
{% endblock %}
