{% extends 'base.html.twig' %}

{% block title %}{{"Page" | trans }}{% endblock %}

{% block body %}
    <h1>{{"Page" | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>{{ "Name" | trans }}</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>{{ "Description" | trans }}</th>
                <td>{{ page.description }}</td>
            </tr>
            <tr>
                <th>{{ "Keywords" | trans }}</th>
                <td>{{ page.keywords }}</td>
            </tr>
            <tr>
                <th>{{ "Body" | trans }}</th>
                <td>{{ page.body }}</td>
            </tr>
            <tr>
                <th>{{ "Url" | trans }}</th>
                <td>{{ page.url }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('page_index') }}" class="btn">{{ "back to list" | trans }}</a>

<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 

    <a href="{{ path('page_edit', {'id': page.id}) }}" class="btn">{{ "edit" | trans }}</a>
<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
