{% extends 'base.html.twig' %}

{% block title %}{{ "Edit" | trans }} {{"Media"| trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit" | trans }} {{ "Media" | trans }}</h1>

    {{ include('media/_form.html.twig', {'button_label': 'Update'}) }}

<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    <a href="{{ path('media_index') }}" class="btn btn-primary">{{ "back to list" | trans }}</a>
<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
