{% extends 'base.html.twig' %}

{% block title %}{{ "Edit" | trans }} {{"Category" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit" | trans }} {{"Category" | trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Atualizar'}) }}
<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    <a href="{{ path('category_index') }}">{{ "back to list" | trans }}</a>
<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
