{% extends 'base.html.twig' %}

{% block title %}{{ "Edit" | trans }} {{"DefaultAttribute" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit" | trans }} {{"DefaultAttribute" | trans }}</h1>
    
    {{ include('default_attribute/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    <a href="{{ path('default_attribute_index') }}" class="btn btn-primary">{{ "back to list" | trans }}</a>
    <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    {{ include('default_attribute/_delete_form.html.twig') }}
<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 
    {% endblock %}
