{% extends 'base.html.twig' %}

{% block title %}{{ "DefaultAttribute" | trans }} {{"index" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "DefaultAttribute" | trans }} {{"index" | trans }}</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "Name" | trans }}</th>
                <th>{{ "Value" | trans }}</th>
                <th>{{ "actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for default_attribute in default_attributes %}
            <tr>
                <td>{{ default_attribute.id }}</td>
                <td>{{ default_attribute.name }}</td>
                <td>{{ default_attribute.value }}</td>
                <td>
                    <a href="{{ path('default_attribute_show', {'id': default_attribute.id}) }}" class="btn btn-primary">{{ "show" | trans }}</a>
                    <a href="{{ path('default_attribute_edit', {'id': default_attribute.id}) }}" class="btn btn-primary">{{ "edit" | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ "no records found" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('default_attribute_new') }}" class="btn btn-primary">{{ "Create new" | trans }}</a>
{% endblock %}
