{% extends 'base.html.twig' %}

{% block title %}{{ "New" | trans }} {{"NewsletterSubscriber"| trans}}{% endblock %}

{% block body %}
    <h1>{{ "Create new" | trans }} {{ "NewsletterSubscriber" | trans }}</h1>

    {{ include('newsletter_subscriber/_form.html.twig') }}

    <a href="{{ path('newsletter_subscriber_index') }}">{{ "back to list" | trans }}</a>
{% endblock %}
