{% extends 'base.html.twig' %}

{% block title %}{{ "Product" | trans }} {{ "index" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Product" | trans }} {{ "index" | trans }}</h1>
    
    <form class="form-inline mt-2 mt-md-0" action="{{ path("product_index_search") }}" method="POST">
      	<div style="width: 50%;">
      	<input style="width: 100%;" class="form-control form-control-dark w-100" name="searchtext" type="text" placeholder="{{ "Search" | trans }}" aria-label="{{ "Search" | trans }}">
      	</div>
      	<div>
      	<button class="btn btn-outline-info my-2 my-sm-0" type="submit">{{ "Search" | trans }}</button>
      	</div>
      </form>


{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(products) }}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "Name" | trans  }}</th>
                <th>{{ "Description" | trans }}</th>
                <th>{{ "Price" | trans }}</th>
                <th>{{ "Keywords" | trans }}</th>
                <th>{{ "State" | trans }}</th>
                <th>{{ "Datecreated" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.keywords }}</td>
                <td>{{ product.state ? 'Activo' : 'Desactivo' }}</td>
                <td>{{ product.datecreated ? product.datecreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
            	<td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary mr-1">{{ "show" | trans }}</a>
                </td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">{{ "edit" | trans }}</a>
                </td>
                <td colspan="5">&nbsp;</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ "no records found" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('product_new') }}" class="btn btn-primary">{{ "Create new" | trans }}</a>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(products) }}
</div>
{% endblock %}
