{% extends 'base.html.twig' %}

{% block title %}{{ "New" | trans }} {{"Product" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Create new" | trans }} {{ "Product" | trans }}</h1>

    {{ include('product/_form.html.twig') }}

<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div> 

    <a href="{{ path('product_index') }}" class="btn btn-primary">{{ "back to list" | trans }}</a>
{% endblock %}
