{% extends 'basesite.html.twig' %}

{% block title %}{{ "Company" | trans }}!{% endblock %}

{% block metadata %}
<meta name="keywords" content="{{ page.keywords }} {{ page.name }}"/>
<meta name="description" content="{{ page.description }}" />

<meta property="og:title" content="{{ page.name }} {{ "Company" | trans }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{app.request.uri}}{{ path("frontend_view_page_name", {name: page.url}) }}" />
<meta property="og:description" content="{{ page.description }}" />

{% endblock %}

{% block body %}
<div class="container">

	<div class="row">
		<h1>{{ page.name }}</h1>
		
	</div>
	
	<div class="row">
		<p>{{ page.description }}</p>
	</div>
	
	<div class="row">
	    {{ page.body | raw }}
	</div>
	
</div>      
{% endblock %}
