<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Área de Gestão!{% endblock %}</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
        
{% block stylesheets %}
<style>
        
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            min-height: 100vh;
        }
        
        #sidebar.active {
            margin-left: -250px;
        }
        
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	padding-top: 70px;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #007bff;;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.ack-editor__editable {
    min-height: 400px;
}

</style>
{% endblock %}

    </head>
    <body>
    
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path("frontend") }}">{{ "Company" | trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path("product_index") }}">{{ "Home" | trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("page_index") }}">
                  <span data-feather="file"></span>
                  {{ "Page" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("category_index") }}">
                  {{ "Categories" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("product_index") }}">
                  {{ "Products" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("media_index") }}">
                  {{ "Media" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("selling_contact_index") }}">
                  {{ "SellingContact" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("default_attribute_index") }}">
                  {{ "DefaultAttribute" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("newsletter_subscriber_index") }}">
                  {{ "NewsletterSubscriber" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  {{ "Customers" | trans }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path("product_report_view") }}">
                  <span data-feather="bar-chart-2"></span>
                  {{ "Reports" | trans }}
                </a>
              </li>
            
          </ul>
        </div>
      </nav>
    
<div class="content-fluid">
    {# pass a string argument to get only the messages of that type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

{# pass an array argument to get the messages of those types  #}
{% for label, messages in app.flashes(['warning', 'error']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
	
    
     	<main role="main">
        {% block body %}{% endblock %}  
        </main>
</div>
        {% block javascripts %}
<script type="text/Javascript">
$(document).ready(function() {
	  $('#page_body').summernote();
	});
</script>
        {% endblock %}
        
    </body>
</html>
