<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{{ "Company" | trans }} {% block title %}{% endblock %}</title>
        
        {% block metadata %}
        <meta name="keywords" content=""/>
		<meta name="description" content="{{ "Company" | trans }} Compra e Venda" />
        
        <meta property="og:title" content="{{ "Company" | trans }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{app.request.uri}}" />
        <meta property="og:description" content="{{ "Company" | trans }} Compra e Venda" />
        <meta property="og:image" content="{{app.request.schemeAndHttpHost }}{{ asset('img/logo.jpeg') }}" />

        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Custom styles for this template -->
    	<link href="/css/carousel.css" rel="stylesheet">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path("frontend") }}">{{ "Company" | trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path("frontend") }}">{{ "Home" | trans }}<span class="sr-only">(current)</span></a>
            </li>
            {% for cat in categories %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path("frontend_view_category", {id: cat.id}) }}">{{ cat.name }}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link" href="#">{{ "Want to sell" | trans }}</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" action="{{ path("frontend_view_search") }}" method="GET">
            <input class="form-control mr-sm-2" name="searchtext" type="text" placeholder="{{ "Search" | trans }}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ "Search" | trans }}</button>
          </form>
        </div>
      </nav>
    </header>
    
    <main role="main">
    
        {% block body %}{% endblock %}
        
        <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">{{ "Back to top" | trans }}</a></p>
        <p>&copy; 2017-2018 {{ "Company" | trans }} &middot; <a href="{{ path("frontend_view_page_name", {name: "privacy"}) }}">{{ "Privacy" | trans }}</a> &middot; 
        <a href="{{ path("frontend_view_page_name", {name: "terms-of-service"}) }}">{{ "Terms" | trans }}</a></p>
      </footer>
    </main>
    
        {% block javascripts %}{% endblock %}
    </body>
</html>
